/* For the main background color */
body {
    background-color: #E7D8C9;
}
.winjoLogo{
    width: 350px;
}
/* For the menu on the left side of the page */
.list-group-item {
    background-color: #F9C74F;
    color: #343a40; 
    border: 1px solid #F9C74F;
    font-size: 1.25rem; /* Adjust the font size as needed */
    padding: 1rem 1.5rem; 
}

.list-group-item:hover {
    background-color: #E5383B;
    color: white; 
    border-color: #E5383B;

}

/* Specific styles for active items */
.list-group-item.active {
    background-color: #E5383B; 
    color: white; 
    border-color: #E5383B;
}
.menu-btn-custom {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.25rem;
    text-decoration: none;
    width: 150px;
    margin-left: 15px;
}